{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Cloud DNS Zone</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Project</th>
              <td><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></td>
            </tr>
            <tr>
              <th scope="row">DNS Name</th>
              <td>{{ object.dns_name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Visibility</th>
              <td>{{ object.visibility }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Name Servers</h5>
             <div class="card-body">
                {% if object.name_servers %}
                    <ul>
                    {% for ns in object.name_servers %}
                        <li>{{ ns }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ ''|placeholder }}
                {% endif %}
             </div>
        </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
