{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Cloud SQL Instance" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Project" %}</th>
                    <td>{{ object.project|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Region" %}</th>
                    <td>{{ object.region }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Database Type" %}</th>
                    <td>{{ object.get_database_type_display }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Database Version" %}</th>
                    <td>{{ object.database_version }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Tier" %}</th>
                    <td>{{ object.tier }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Storage Size (GB)" %}</th>
                    <td>{{ object.storage_size_gb }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Storage Type" %}</th>
                    <td>{{ object.storage_type }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Status" %}</th>
                    <td>{{ object.status }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "IP Address" %}</th>
                    <td>{{ object.ip_address|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Private IP" %}</th>
                    <td>{{ object.private_ip|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Connection Name" %}</th>
                    <td>{{ object.connection_name|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "High Availability" %}</th>
                    <td>{{ object.high_availability|yesno }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Backup Enabled" %}</th>
                    <td>{{ object.backup_enabled|yesno }}</td>
                </tr>
            </table>
        </div>
        {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/custom_fields.html' %}
    </div>
</div>
{% endblock %}
