{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">IAM Role</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Project</th>
              <td>
                {% if object.project %}
                  <a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a>
                {% else %}
                  {{ ''|placeholder }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Title</th>
              <td>{{ object.title }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Stage</th>
              <td>{{ object.stage }}</td>
            </tr>
            <tr>
              <th scope="row">Custom</th>
              <td>{{ object.is_custom|yesno }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Permissions</h5>
             <div class="card-body">
                {% if object.permissions %}
                    <ul>
                    {% for perm in object.permissions %}
                        <li>{{ perm }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ ''|placeholder }}
                {% endif %}
             </div>
        </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
