{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Persistent Disk</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Project</th>
              <td><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></td>
            </tr>
            <tr>
              <th scope="row">Zone</th>
              <td>{{ object.zone }}</td>
            </tr>
            <tr>
              <th scope="row">Disk Type</th>
              <td>{{ object.disk_type }}</td>
            </tr>
            <tr>
              <th scope="row">Size (GB)</th>
              <td>{{ object.size_gb }}</td>
            </tr>
             <tr>
              <th scope="row">Status</th>
              <td>{{ object.status }}</td>
            </tr>
            <tr>
              <th scope="row">Source Image</th>
              <td>{{ object.source_image|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Users</h5>
             <div class="card-body">
                {% if object.users %}
                    <ul>
                    {% for user in object.users %}
                        <li>{{ user }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ ''|placeholder }}
                {% endif %}
             </div>
        </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
